--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch--cpu
fastapi
uvicorn
pydantic
python-dotenv
chromadb
langchain
langchain-community
langchain-huggingface
sentence-transformers
openai